@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body,
html {
  font-family: "Montserrat", Times, serif;
  height: 100%;
}

a {
  text-align: right;
  color: #575757;
}

a:hover {
  color: rgb(90, 168, 161);
  text-decoration: underline !important;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  padding: 15px;
  margin-left: 100px;
}

footer {
  display: block;
  text-align: center;
  font-size: 30px;
  padding: 15px;
}

.container-navbar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.button-navbar {
  margin: 5px;
  border-radius: 1px;
  font-size: 15px;
  border: 1px solid black;
  border-width: 1px 0;
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: white;
  transition: all 0.15s ease-in-out 0s;
}

.button-navbar:hover {
  border: 3px solid rgb(90, 168, 161);
  border-width: 0 5px;
}

.menu {
  flex-wrap: wrap;
  margin: 0 3px;
}

.menu .submenu {
  display: none;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all 0.15s ease-in-out 0s;
  width: 10%;
}

.menu input {
  min-width: 75%;
  border-radius: 1px;
  font-size: 15px;
  border: 1px solid black;
  border-width: 0 1px;
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: white;
  transition: all 0.15s ease-in-out 0s;
}

.menu input:hover {
  border: 3px solid rgb(90, 168, 161);
  border-width: 0 5px;
}

.menu:hover .submenu {
  position: absolute;
  display: block;
}

.search-input {
  box-sizing: border-box;
  font-size: 11px;
}

.search {
  height: 19px;
  background-color: black;
  color: white;
  border: none;
}

.container-news {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.item-news {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid grey;
  transition: all 0.15s ease-in-out 0s;
  color: #707070;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.item-news:hover {
  -webkit-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.42);
  box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.42);
}

.item-news img {
  width: 100%;
  height: auto;
}

.item-news h2 {
  text-align: center;
  margin: 5px;
}

.item-news p {
  margin: 3px;
}

.item-news .newsname {
  text-align: right;
  color: #707070;
  margin-top: auto;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(90, 168, 161);
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: 10px;
  transition: all 0.15s ease-in-out 0s;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1200px) {
  .item-news {
    width: 44%;
  }
}

@media only screen and (max-width: 800px) {
  .item-news {
    width: 100%;
  }

  .container-navbar {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .button-navbar {
    width: 100%;
  }

  .search-input {
    margin-top: 10px;
  }
}
